/* nav {
    background-color: #333;
    padding: 10px 0;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }
  
  li {
    margin-left: 30px;
    margin-right: 20px;
  }
  
  li a {
    text-decoration: none; 
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
  }
  
  li a:hover {
    color: #ffd700;
  }
   */

   .navbar {
    background-color: #333;
    padding: 10px 0;
  }
  
  .navbar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }
  
  .navbar-nav .nav-item {
    margin-left: 30px;
    margin-right: 20px;
  }
  
  .navbar-nav .nav-link {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
  }
  
  .navbar-nav .nav-link:hover {
    color: #ffd700;
  }
  